{% extends "base.html" -%}
{% block content -%}
    {% include 'partials/navigation.html' -%}
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci odio molestiae ab possimus minima vitae numquam earum illum dolorum quaerat magni, dolores quo pariatur cumque recusandae suscipit blanditiis quis repellendus.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat soluta eos delectus ducimus, amet quam magni itaque temporibus vitae ex, fuga excepturi expedita officiis. Voluptates, similique perspiciatis! A, consectetur, dolor.</p>
{% endblock content %}
